<footer>
    <!-- <ul>
        <li>&copy; UNCC CyberCorps SFS</li>
        <li>ABOUT</li>
        <li>CONTACT</li>
    </ul> -->
    <p>&copy; Harmonious Happenings</p>
    <a class="footerText" href="/about">ABOUT</a>
    <a class="footerText" href="/contact">CONTACT</a>
    <a href="https://github.com/Coolpeaspod" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/Prasham_23" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/prasham-pipaliya/" target="_blank"><i
            class="fa-brands fa-linkedin"></i></a>

</footer>

</body>