<%- include('./partials/header.ejs') %>
    <main>
        <div>
            <h2>About Us</h2>
            <p>Our mission is to provide a platform for people to share and discover events. We believe that events are
                a great way to connect with others and explore new interests. Whether you're looking for a fun night out
                or want to learn something new, we have something for everyone. Join us and start exploring today!</p>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>