<%- include('./partials/header.ejs') %>
    <main>
        <div>
            <h2>Contact Us</h2>
            <p>Feel free to contact us if you have any questions or concerns.</p>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>