<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>New Event</title>
</head>

<body>
    <header>
        <a href="index.html"><img src="../images/Image.jpeg" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="../templates/newEvent.html" id="newConnection">Start a New Event</a></li>
                <li><button id="buttonLogIn">Log In</button></li>
                <li><button id="buttonSignUp">Sign Up</button></li>
            </ul>

        </nav>

    </header>

    <nav id="generalSite">
        <ul>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/events.html">Events</a></li>
        </ul>
    </nav>

    <main>
        <section id="newEvent">
            <div class="container">
                <h2>Create a new Event</h2>

                <form action="#" method="post">
                    <div class="row mb-3">
                        <label for="formTopic" class="col-sm-2 col-form-label">Topic</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="formTopic" name="topic" required>
                                <option value="">Select a Topic</option>
                                <option value="option1">Python</option>
                                <option value="option2">Java</option>
                                <option value="option3">C++</option>
                                <option value="option4">C</option>
                                <option value="option5">Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formTitle" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="formTitle" placeholder="Title" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formDescription" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="formDescription" rows="3" required></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formWhere" class="col-sm-2 col-form-label">Where</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="formWhere" placeholder="Where" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formStartTime" class="col-sm-2 col-form-label">Start</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" id="formStartTime" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formEndTime" class="col-sm-2 col-form-label">End</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" id="formEndTime" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formImage" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="formImage" name="image" accept="image/*"
                                required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; Harmonious Happenings</p>
        <a class="footerText">ABOUT</a>
        <a class="footerText">CONTACT</a>
        <a href="https://github.com/Coolpeaspod" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/Prasham_23" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/prasham-pipaliya/" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a>
    </footer>

</body>

</html> -->